*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is:
  // 1rem = 10px
  font-size: 62.5%;

  @include response(tab-land) {
    // 1rem = 9px
    font-size: 56.25%;
  }

  @include response(tab-port) {
    // 1rem = 8px
    font-size: 50%;
  }

  @include response(big-screen) {
    // 1rem = 12px
    font-size: 75%;
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;

  @include response(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
