# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\zuzan\OneDrive\Pulpit\advanced-css-course-master\advanced-css-course-master\Natours\starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
